@charset "utf-8";
/* jQuery-Ajax Auto Suggest v.1.0 */
/* Created by Isaac Oslund | isaac@oslund.ca  */


.ausu-suggestionsBox
{
    position: absolute;
    left: 170px;
    top:-4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    margin: 26px 0px 0px 0px;
    width: 200px;
    padding:0px;
    color: #fff;
    display: none;
    padding: 0 0 0 0;
}

.ausu-suggestionsBox ul 
{
    list-style:none;
    margin: -5px 0 0 0;
    padding: 0 0 0 0;
    background-color:#008B45;
}

.ausu-suggestionsBox ul li a
{
    display: block;
    text-indent:  4px;
    width: 100%;
    color: #FFF;
    text-decoration: none;
    padding: 6px 0 6px 0;
    border-bottom:1px solid #FFF;
}

.ausu-load { background: url(../images/loader.gif) right no-repeat; }

.ausu-suggest
{
    position:relative;
    float: left;
}

.selected a:hover
{
    background-color:#CCC;
	color:#008B45;
}

